<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="CSS/index.css">
    <link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>
    <title>BrainyBite</title>
  </head>
  <body>
    <header>
        <nav>
            <div class="container">
              <div class="nav-con">
                <div class="logo">
                  <a href="#">BrainyBite</a>
                </div>
                <ul class="menu">
                  <li><a href="#">หน้าแรก</a></li>
                  <li><a href="#">บันทึกแล้ว</a></li>
                  <li>
                    <div class="category-dropdown">
                        <button class="category-btn">หมวดหมู่
                            <i class="down"></i>
                        </button>
                        <div class="category-dropdown-content">
                            <ul>
                                <li><a href="#">คณิตศาสตร์</a></li>
                                <li><a href="#">คณิตศาสตร์</a></li>
                                <li><a href="#">คณิตศาสตร์</a></li>
                                <li><a href="#">คณิตศาสตร์</a></li>
                                <li><a href="#">คณิตศาสตร์</a></li>
                                <li><a href="#">คณิตศาสตร์</a></li>
                            </ul>
                        </div>
                    </div>
                  </li>
                </ul>
                <div class="serach">
                  <input type="text" class="search-box" />
                </div>
                <div class="auth-box">
                  <button class="nav-login-and-signup-btn">เข้าสู่ระบบ/ลงทะเบียน</button>
                </div>
              </div>
            </div>
          </nav>
    </header>
  </body>
</html>